@import url("838f30b8e7dc12c43945ab64fce2ea7c.css");
@import url("4c141fde225ad9bfa281f082b8a78998.css");
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  @media (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    #map {
      left: 300px; } }

.point-marker {
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.9); }

.point-marker::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: -6px;
  top: -6px;
  height: 24px;
  width: 24px;
  border: 3px solid rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0; }

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0; } }

@media (max-width: 480px) {
  .leaflet-control-zoom {
    top: 100px; }
  .leaflet-top.leaflet-left {
    width: 100%;
    z-index: 1100; } }

.leaflet-bar,
.leaflet-touch .leaflet-pelias-results.leaflet-bar {
  box-shadow: none;
  border: 1px solid #707070;
  border-radius: 2px; }

.leaflet-bar a.leaflet-control-zoom-in {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.leaflet-bar a.leaflet-control-zoom-out {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.leaflet-pelias-expanded {
  height: 32px; }

.leaflet-pelias-control {
  width: 268px;
  box-shadow: none;
  border: none;
  border-bottom: 1px dotted #e1e1e1;
  float: none; }

.leaflet-pelias-input {
  font-family: 'proxima-nova', sans-serif; }

/* Prevent zoom-in on focus on iOS safari */
.leaflet-touch.leaflet-safari .leaflet-pelias-input {
  font-size: 16px; }

.leaflet-pelias-results {
  top: 32px; }
  @media (max-width: 480px), (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    .leaflet-pelias-results {
      top: 44px; } }

.leaflet-pelias-results {
  left: -1px;
  overflow-y: auto;
  border: 1px solid #e0e0e0; }
  @media (min-width: 737px) {
    .leaflet-pelias-results {
      max-height: 170px !important; } }

.leaflet-touch .leaflet-pelias-results.leaflet-bar {
  border: 1px solid #e0e0e0; }

.leaflet-touch .leaflet-pelias-control,
.leaflet-touch .leaflet-pelias-control.leaflet-pelias-expanded {
  width: 268px;
  height: 32px;
  line-height: 32px; }

.leaflet-touch .leaflet-pelias-control.leaflet-bar {
  border: 0; }

.leaflet-touch .leaflet-pelias-results {
  box-shadow: none; }

@media (max-width: 480px), (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
  .leaflet-pelias-control,
  .leaflet-pelias-control.leaflet-pelias-expanded,
  .leaflet-touch .leaflet-pelias-control,
  .leaflet-touch .leaflet-pelias-control.leaflet-pelias-expanded {
    width: 100%;
    height: 44px;
    line-height: 44px; } }

@media (max-width: 480px) {
  .leaflet-bottom.leaflet-right {
    width: 100%; }
  .leaflet-control-attribution {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    background-color: white !important; } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; }

body {
  font-family: 'proxima-nova', sans-serif; }

.box {
  position: absolute;
  left: 16px;
  top: 0;
  width: 300px;
  min-height: 300px;
  box-shadow: rgba(191, 191, 191, 0.5) 0px 0px 0px 5px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
  z-index: 1000;
  background-color: #f6f5f1;
  color: #222;
  border: 1px solid #aaa;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 14px; }
  @media (max-width: 480px), (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    .box {
      left: 0;
      border-radius: 0;
      border: 0;
      box-shadow: rgba(191, 191, 191, 0.5) 0px 0px 0px 3px; } }
  @media (max-width: 480px) {
    .box {
      width: 100%;
      min-height: 100px;
      padding: 8px 12px;
      border-bottom: 1px solid #aaa; } }
  @media (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    .box {
      border-right: 1px solid #aaa;
      bottom: 0;
      overflow-y: auto; } }

h1 {
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid #707070;
  border-top: 3px solid #222;
  padding-bottom: 8px;
  padding-top: 4px;
  color: #222; }

#geocoder {
  margin-bottom: 10px;
  margin-left: -1px;
  margin-top: -5px; }
  @media (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    #geocoder {
      margin-bottom: 5px;
      margin-top: 5px; } }
  @media (max-width: 480px) {
    #geocoder {
      margin-bottom: 0;
      margin-top: 5px; } }

.result-area {
  line-height: 1.4;
  border-top: 1px solid #707070;
  padding-top: 3px; }
  @media (max-width: 480px) {
    .result-area {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 200px;
      padding: 12px;
      overflow-y: auto;
      box-sizing: border-box;
      box-shadow: 0 0 0 3px rgba(191, 191, 191, 0.5);
      border-top: 1px solid #aaa;
      background-color: #f6f5f1; } }
  @media (max-width: 480px) and (orientation: landscape) {
    .result-area {
      display: none; } }

.instructions {
  color: #888;
  font-style: italic;
  font-size: 12px; }
  @media (max-width: 480px), (min-width: 481px) and (max-width: 736px) and (orientation: landscape) {
    .instructions {
      display: none; } }

#message {
  display: none;
  font-weight: bold;
  color: #ff4444;
  margin-top: 10px; }
  @media (max-width: 480px) {
    #message {
      margin-top: 0;
      margin-bottom: 10px; } }

#board-info {
  display: none; }
  @media (max-width: 480px) {
    #board-info {
      margin-bottom: 10px; } }

#intro {
  display: block;
  margin-top: 10px; }
  @media (max-width: 480px) {
    #intro {
      margin-top: 0; } }

.community-board-label {
  font-weight: bold; }

h3 {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 0; }

.data.website {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.data.website a {
  word-wrap: break-word; }
