// Inline the leaflet styles
@import '../../node_modules/leaflet/dist/leaflet.css';

// Inline the leaflet-geocoder styles
@import '../../node_modules/pelias-leaflet-geocoder/dist/pelias-leaflet-geocoder.css';

/* Hide zoom controls on mobile */
@media only screen and (max-width: 650px) {
  .leaflet-touch .leaflet-control-zoom {
    display: none;
  }
}

.leaflet-bar,
.leaflet-touch .leaflet-pelias-results.leaflet-bar {
  box-shadow: none;
  border: 1px solid $ui-color;
  border-radius: 2px;
}

.leaflet-pelias-expanded {
  height: 32px;
}

.leaflet-pelias-control {
  position: absolute;
  left: $left-offset + $box-padding - 10px;
  top: 75px;
  width: 268px;
  box-shadow: none;
  border: none;
  border-bottom: 1px dotted #e1e1e1;
}

.leaflet-pelias-input {
  font-family: 'proxima-nova', sans-serif;
}

.leaflet-top .leaflet-pelias-results {
  top: 32px;
}

.leaflet-pelias-results {
  left: -1px;
  max-height: 170px !important;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
}

.leaflet-touch .leaflet-pelias-results.leaflet-bar {
  border: 1px solid #e0e0e0;
}

.leaflet-touch {
  .leaflet-pelias-control,
  .leaflet-pelias-control.leaflet-pelias-expanded {
    width: 268px;
    line-height: 32px;
    height: 32px;
  }
  .leaflet-pelias-control.leaflet-bar {
    border: 0;
  }
  .leaflet-pelias-results {
    box-shadow: none;
  }
}
